@model ADJInsc.Models.ViewModels.InscViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:right;">
    <form asp-controller="Inscripcion" asp-action="GoHome">
        <img id="AjaxLoaderLogin" alt="Enviando ..." style="display:none; width:50px; height:50px;" src="~/image/loader.gif" />
        <button class="btn btn-outline-danger float-sm-right" id="btnLogin">Cerrar sesion</button>
    </form>
</div>
<p>
    <h2>Sistema de Inscripción / Actualización</h2>
    <h4>Panel de Control</h4>
</p>

<form id="formFamilia">
    <div class="form-group card border-info">
        <h3 class="card-header text-light bg-info"> Titular</h3>
        <div class="form-group card-body">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputDni" placeholder="D.N.I." value="@Model.InsNumdoc" disabled>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" value="@Model.InsNombre">
            </div>
            <div class="form-group col-md-6">
                <!--    <input type="text" class="form-control" id="inputApellido" placeholder="Apellido" value="@Model">-->
            </div>
            <div class="form-group col-md-6">
                @Html.DropDownListFor(x => Model.InsTipflia, Model.TipoFamiliaList ?? new List<SelectListItem>(), "----Selecciona Estado Civil----", htmlAttributes: new { @class = "form-control", id = "ddTipoFamiliaId" })
            </div>
            <div class="form-inline col-md-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="idDis" value="@Model.InsDiscapacitado">
                    <label class="form-check-label" for="inlineCheckbox1">Discapacidad</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="idMin" value="@Model.InsMinero">
                    <label class="form-check-label" for="inlineCheckbox2">Minero</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="idVet" value="@Model.InsVeterano">
                    <label class="form-check-label" for="inlineCheckbox3">Vet. Malvinas</label>
                </div>
            </div>
            <br />
            <div class="form-inline col-md-6" style="width:auto; margin-bottom:1px;">


                Cuit / Cuil
                <input id="inputCuitUno" type="number" class="form-control" style="width:16%; margin-left:4px;" value="@Model.CuitCuilUno"> -
                <input type="text" class="form-control" id="inputCuitDos" placeholder="D.N.I." value="@Model.InsNumdoc" disabled style="width:40%"> -

                <input id="inputCuitTres" type="number" class="form-control" style="width:16%" value="@Model.CuitCuilDos">



            </div>
        </div>
    </div>
    <div class="form-group card border-info">
        <h5 class="card-header text-light bg-info"> Dirección</h5>
        <div class="form-row card-body">
            <div class="form-group col-md-12">
                <input type="text" multiple class="form-control" id="inputAddress" placeholder="Dirección">
            </div>

            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => Model.DepartamentoKey, Model.DepartamentosList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddDepartamentoId" })

            </div>
            <div class="form-group col-md-6">
                @Html.DropDownListFor(x => Model.LocalidadKey, Model.LocalidadesList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddLocalidadId" })
            </div>
        </div>
    </div>
    <div class="form-group card border-info">
        <h5 class="card-header text-light bg-info"> Situación Laboral</h5>
        <div class="form-row card-body">
            <div class="form-group col-md-12">
                <input type="text" multiple class="form-control" id="inputLugar" placeholder="Lugar donde trabaja" value="@Model.NombreEmpleo">
            </div>

            <div class="form-group col-md-4">
                <label for="ddTipoRevistaId">Tipo de empleo</label>
                @Html.DropDownListFor(x => Model.TipoRevistaKey, Model.TipoRevistaList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddTipoRevistaId" })

            </div>
            <div class="form-group col-md-4">
                <label for="inputIngresoNeto">Ingreso aproximado del grupo familiar</label>

                <input type="number" class="form-control" id="inputIngresoNeto" value="@Model.IngresoNeto">
            </div>
        </div>
    </div>
   
</form>
<p></p>

<div>
    <div id="tablaFamilia">
        <partial name="_DatosPartial" model="@Model" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnCreate" type="submit" value="Actualizar Ficha" class="btn btn-primary" />
        </div>
    </div>
</div>


<div id="modalModificarFamilia" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Familia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <div class="card-body">
                    <input id="modificar" name="modificar" type="hidden" value="0">
                    <div class="form-group col-md-12 has-success">
                        <input type="text" class="form-control" id="inputNombreFamilia" placeholder="Apellido y Nombre">
                    </div>                   
                    <div class="form-group col-md-12 has-success">

                        <input type="number" class="form-control" id="inputDniFamilia" placeholder="D.N.I.">
                    </div>
                    <div class="form-group col-md-12 has-success">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" class="datepicker form-control" id="inputFecNacFamilia">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-inline col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="idDisFamilia" value="option3">
                            <label class="form-check-label" for="idDisFamilia">Discapacidad</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="idMinFamilia" value="option3">
                            <label class="form-check-label" for="idMinFamilia">Minero</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="idVetFamilia" value="option3">
                            <label class="form-check-label" for="idVetFamilia">Vet. Malvinas</label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12 has-success">
                        @Html.DropDownListFor(x => Model.ParentescoKey, Model.ParentescoList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddParentescoId" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="addPersonaModal" class="btn btn-info btnModal" href="#">Cargar y Cerrar</a>

            </div>
        </div>
    </div>
</div>


<div id="modalInicialFamilia" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Familia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <div class="card-body">
                    <input id="modificar" name="modificar" type="hidden" value="0">
                    <div class="form-group col-md-12 has-success">
                        <input type="text" class="form-control" id="inputNombreInicial" placeholder="Apellido y Nombre">
                    </div>
                   
                    <div class="form-group col-md-12 has-success">

                        <input type="number" class="form-control" id="inputDniInicial" placeholder="D.N.I.">
                    </div>
                    <div class="form-group col-md-12 has-success">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" class="datepicker form-control" id="inputFecNacInicial">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-inline col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="idDisInicial" value="option3">
                            <label class="form-check-label" for="idDisInicial">Discapacidad</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="idMinInicial" value="option3">
                            <label class="form-check-label" for="idMinInicial">Minero</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="idVetInicial" value="option3">
                            <label class="form-check-label" for="idVetInicial">Vet. Malvinas</label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12 has-success">
                        @Html.DropDownListFor(x => Model.ParentescoKey, Model.ParentescoList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddParentescoInicialId" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="addPersonaInicialModal" class="btn btn-info btnModal" href="#">Cargar y Cerrar</a>

            </div>
        </div>
    </div>
</div>

<div id="modalBorrar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Integrante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <p>Esta seguro que desea borrar Integrante?</p>
            </div>
            <div class="modal-footer">
                <a id="delPersonaModal" class="btn btn-danger btnModal" href="#">Borrar</a>
                <a id="cancelPersonaModal" class="btn btn-info btnModal" href="#">Cancelar</a>
            </div>
        </div>
    </div>
</div>




@section scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <style type="text/css">
        .span3 {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .card-body {
            padding-bottom: 0rem;
        }
    </style>

    <script type="text/javascript">

    function CargarDeptoLocalidad() {

            var depto = $("#ddDepartamentoId").val();
            $.ajax({
                url: 'GetLocalidadesList',
                data: {
                    // Datos / Parámetros
                    departamentoKey: depto
                },
                type: "get",
                timeout: 1500

            }).done(function (result) {
                $("#ddLocalidadId").empty();
                $("#ddLocalidadId").append("<option value> -- Seleccionar Localidad de " + $("#ddDepartamentoId option:selected").text() + " --</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(result, function (row) {
                    $("#ddLocalidadId").append('<option value="' + row.value + '">' + row.text + '</option>');
                });
            });
    }

    $(function () {
        $("#ddDepartamentoId").on("change", function () {

            CargarDeptoLocalidad();
        })
    });


     $(function () {
            $("#addPersonaInicialModal").click(function (e) {

                var nombreVM = $("#inputNombreInicial").val();

                var dniVM = $("#inputDniInicial").val();
                var parentescoKey = $("#ddParentescoInicialId").val();
                var fechaNac = $("#inputFecNacInicial").val();

                var disc = 0;
                var minero = 0;
                var veterano = 0;

                if ($("#idDisInicial").is(':checked')) {
                    disc = 1;
                }

                if ($("#idMinInicial").is(':checked')) {
                    minero = 1;
                }

                if ($("#idVetInicial").is(':checked')) {
                    veterano = 1;
                }

                if (!fechaNac) {
                    $("#inputFecNacInicial").css("border-color", "red");
                    e.preventDefault();
                } else {
                    $("#inputFecNacInicial").css("border-color", "green");
                }

                if ($("#inputCheck").is(':checked')) {
                    $("#inputCheck").val('1');
                } else {
                    $("#inputCheck").val('0');
                }

                if (!nombreVM) {
                    $("#inputNombreInicial").css("border-color", "red");
                    e.preventDefault();
                } else {
                    $("#inputNombreInicial").css("border-color", "green");
                }


                if (dniVM.length > 6) {
                    $("#inputDniInicial").css("border-color", "green");

                } else {
                    $("#inputDniInicial").css("border-color", "red");
                    e.preventDefault();
                }

                if (nombreVM && dniVM.length > 6 && fechaNac != null) {
                    $.ajax({
                        url: '/**************************************/',
                        data: {
                            // Datos / Parámetros
                            nombre: nombreVM,
                            dni: dniVM,
                            parentescoKey: parentescoKey,
                            modificar: $("#modificar").val(),
                            fechaNac: fechaNac,
                            disc: disc, //$("#inputCheck").val(),
                            minero: minero,
                            veterano: veterano
                        },
                        type: "post",
                        timeout: 1500

                    })
                        .done(function (result) {
                            //$("#idFormFamilia").show();
                            $("#tablaFamilia").html(result);
                            $("#inputNombreInicial").val('');
                            $("#inputApellidoInicial").val('');
                            $("#inputDniInicial").val('');
                            $('#idDisInicial').removeAttr('checked');
                            $('#idMinInicial').removeAttr('checked');
                            $('#idVetInicial').removeAttr('checked');
                            //$('#inputDniFamilia').prop('readonly', false);
                        })
                        .fail(function (result) {
                            bootbox.alert({
                                size: "small",
                                title: "I.V.U.J.",
                                message: "Acaba de ocurrir un problema, lamento los inconvenientes. " + result,
                                callback: function () {
                                    location.reload();
                                }
                            });
                        });
                    $("#modalInicialFamilia").modal('hide');

                }

            });
        });

        $(function () {
            $("#btnModificarsssssssssssssssssssssss").click(function (e) {
                e.preventDefault();
                var currentRow = $(this).closest("tr"); 
                
                var idNombre = currentRow.find("td:eq(0)").text(); //$('#idSoloNombre').val();
                var idDni = currentRow.find("td:eq(1)").text(); //$('#idNumDoc').val();
                var idParentesco = $('#idSoloParentesco').val();
                var idFecha = currentRow.find("td:eq(2)").text(); //$('#idSoloFecha').val();
                console.log(idFecha);
                var idDisc = $('#idDis').val();
                var idMinero = $('#idMin').val();
                var idVeterano = $('#idVet').val();

                var miMod = 0;

                $('#inputNombreFamilia').val(idNombre);

                $('#inputDniFamilia').val(idDni);

                if (idDisc === 1) {
                    $('#idDisFamilia').prop('checked', 'checked');
                } else {
                    $('#idDisFamilia').removeAttr('checked');
                }

                if (idMinero === 1) {
                    $('#idMinFamilia').attr('checked', 'checked');
                } else {
                    $('#idMinFamilia').removeAttr('checked');
                }

                if (idVeterano === 1) {
                    $('#idVetFamilia').prop("checked", true);
                } else {
                    $('#idVetFamilia').removeAttr('checked');
                }

                $('#ddParentescoId').val(idParentesco).trigger('change');

                if ($('#inputDniFamilia').val().length > 6) {
                    miMod = 1;
                    $('#inputDniFamilia').prop('readonly', true);
                }
                if (idFecha != null) {
                    var dt = idFecha.split('/');
                    var date = dt[2] + "-" + dt[1] + "-" + dt[0];
                    $('#inputFecNacFamilia').val(date);
                }

                $("#modificar").val(miMod);
                $("modalModificarFamilia").show();
                
            })
        })

        $(function () {
            $("#delPersonaModal").click(function (e) {
                e.preventDefault();
                var idMod = $("#idNumDoc").val();
                $.ajax({
                    url: '/*************************************/',
                    data: {
                        id: idMod
                    },
                    type: "post"
                }).done(function (result) {
                    $("#idFormFamilia").show();
                    $("#tablaFamilia").html(result);
                }).fail(function (data) {
                    bootbox.alert({
                        size: "small",
                        title: "I.V.U.J.",
                        message: "Acaba de ocurrir un problema, lamento los inconvenientes. " + data,
                        callback: function () {
                            //location.reload();
                        }
                    });
                });
                $("#modalBorrar").modal('hide');
            })
        });

        $(function () {
            $("#btnCreate").click(function (e) {
                 $.ajax({
                    url: '/**********************************/',
                     type: "post",
                     data: {

                     }
                }).done(function (result) {
                    bootbox.alert({
                        size: "small",
                        title: "I.V.U.J.",
                        message: "PDF Generado " + result,
                        callback: function () {
                            //location.reload();
                        }
                    });
                }).fail(function (data) {
                    bootbox.alert({
                        size: "small",
                        title: "I.V.U.J.",
                        message: "Acaba de ocurrir un problema, lamento los inconvenientes. " + data,
                        callback: function () {
                            //location.reload();
                        }
                    });
                });
            });
        });

         function CargarDeptoLocalidad() {
            var depto = $("#ddDepartamentoId").val();
            $.ajax({
                url: '/******************************************/',
                data: {
                    // Datos / Parámetros
                    departamentoKey: depto
                },
                type: "get", // Verbo HTTP
                timeout: 15000 // adjust the limit. currently its 15 seconds

            }).done(function (result) {
                $("#ddLocalidadId").empty();
                $("#ddLocalidadId").append("<option value> -- Seleccionar Localidad de " + $("#ddDepartamentoId option:selected").text() + " --</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(result, function (index, row) {
                    $("#ddLocalidadId").append('<option value="' + row.value + '">' + row.text + '</option>');
                });
            });
        }

        $("#tablaFamilia").on('click', '.btnModificar', function () {

            var $currentRow = $(this).closest("tr");

            var idNombre = $currentRow.find("#valorNombre").text(); //$('#idSoloNombre').val();
            var idDni = +$currentRow.find("#valorDoc").text(); //$('#idNumDoc').val();

            var idParentesco = $currentRow.find("#valorP").text();
            var idFecha = $currentRow.find("#valorFec").text(); //$('#idSoloFecha').val();

            console.log(idParentesco);
            console.log(idDni);
            console.log(idFecha);

            var idDisc = +$currentRow.find('#idDis').text();
            var idMinero = +$currentRow.find('#idMin').text();
            var idVeterano = +$currentRow.find('#idVet').text();

            var miMod = 0;

            $('#inputNombreFamilia').val(idNombre.trim());

            $('#inputDniFamilia').val(idDni);

            if (idFecha != null) {
                var dt = idFecha.split('/');
                var date1 = dt[2] + "-" + dt[1] + "-" + dt[0];
                $('#inputFecNacFamilia').val(date1);
            }
           


            if (idDisc === 1) {
                $('#idDisFamilia').prop('checked', 'checked');
            } else {
                $('#idDisFamilia').removeAttr('checked');
            }

            if (idMinero === 1) {
                $('#idMinFamilia').attr('checked', 'checked');
            } else {
                $('#idMinFamilia').removeAttr('checked');
            }

            if (idVeterano === 1) {
                $('#idVetFamilia').prop("checked", true);
            } else {
                $('#idVetFamilia').removeAttr('checked');
            }

            $('#ddParentescoId').val(idParentesco).trigger('change');

            if ($('#inputDniFamilia').val().length > 6) {
                miMod = 1;
                $('#inputDniFamilia').prop('readonly', true);
            }
            

            $("#modificar").val(miMod);

            $('#modalModificarFamilia').modal('show');
        });


       
    </script>
}