@model ADJInsc.Models.ViewModels.InscViewModel
<p>
    <h2>Sistema de Inscripción / Actualización</h2>
</p>


<div method="post" class="form-inline">

    @Html.AntiForgeryToken()

    <div class="form-row align-items-center">
        <input type="number" class="form-control mb-2 mr-sm-2" id="dniInput" placeholder="Ingrese D.N.I.">

        <div class="form-group mb-2 mr-sm-2 ">
            <img id="AjaxLoader" alt="Enviando ..." style="display:none; width:50px; height:50px;" src="~/image/loader.gif" />
            <button id="btnBuscar" class="btn btn-info">
                Buscar Titular
            </button>
        </div>
        <div class="col-auto mb-2 mr-sm-2">
            <img id="AjaxLoader" alt="Enviando ..." style="display:none; width:50px; height:50px;" src="~/image/loader.gif" />
            <button class="btn btn-outline-danger float-sm-right" id="btnLogin">Ingresar con Usuario y Clave</button>
        </div>
    </div>
</div>



<!--
    <div class="form-group mb-4">
        <p></p>
        <label>Ingrese Dni</label>

    </div>
    <div class="form-group mx-sm-3 mb-4">
        <p></p>
        <input type="number" class="form-control" id="dniInput" placeholder="Documento">
    </div>

    <div class="form-group mb-4">
        <img id="AjaxLoader" alt="Enviando ..." style="display:none; width:50px; height:50px;" src="~/image/loader.gif" />
        <button id="SubmitBtn" class="btn btn-info">
            Obtener Datos
        </button>
        <div>

        </div>
    </div>
    <div class=" form-group mb-4">
        <button class="btn btn-outline-warning float-right" id="btnLogin">Ingresar</button>
    </div>
-->
<form style="display:none" id="formFamilia">
    <div class="form-group card border-info">
        <h3 class="card-header text-light bg-info"> Titular</h3>
        <div class="form-group card-body">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputNombre" placeholder="Apellido y Nombre" value="@Model.InsNombre">
            </div>
           
            <div class="form-group col-md-6">
                @Html.DropDownListFor(x => Model.InsTipflia, Model.TipoFamiliaList ?? new List<SelectListItem>(), "----Selecciona Tipo de Familia----", htmlAttributes: new { @class = "form-control", id = "ddTipoFamiliaId" })
            </div>
        </div>
    </div>
    <div class="form-group card border-info">
        <h5 class="card-header text-light bg-info"> Dirección</h5>
        <div class="form-row card-body">
            <div class="form-group col-md-12">
                <input type="text" multiple class="form-control" id="inputAddress" placeholder="Dirección">
            </div>

            <!--<div class="form-group col-md-4">
                <input type="text" class="form-control" id="inputBarrio" placeholder="Barrio">
            </div>-->
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => Model.DepartamentoKey, Model.DepartamentosList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddDepartamentoId" })

            </div>
            <div class="form-group col-md-6">
                @Html.DropDownListFor(x => Model.LocalidadKey, Model.LocalidadesList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddLocalidadId" })
            </div>
        </div>
    </div>
    <div class="form-group card border-info">
        <h5 class="card-header text-light bg-info"> Registro de Usuario</h5>
        <div class="form-row card-body">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputUser" placeholder="Usuario" value="@Model.Usuario">
            </div>
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="@Model.InsEmail">
            </div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña" value="@Model.Clave">
                <span class="fa fa-eye-slash icon" id="mostrar"> <span id="pwdtxt" style="cursor:pointer;">Mostrar contraseña</span></span>
            </div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" id="inputRepetirContraseña" placeholder="Repetir Contraseña" value="@Model.InsEmail">
                <span class="fa fa-eye-slash icon" id="mostrarRe"> <span id="pwdtxtRe" style="cursor:pointer;">Mostrar contraseña</span></span>
            </div>
        </div>
    </div>
</form>
<p></p>

<div>
    <div style="display:none" id="tablaFamilia">
        <partial name="_DatosPartial" model="@Model" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnCreate" disabled="disabled" type="submit" value="Generar Ficha" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="modalBorrar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Integrante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <p>Esta seguro que desea borrar Integrante?</p>               
            </div>
            <div class="modal-footer">
                <a id="delPersonaModal" class="btn btn-danger btnModal" href="#">Borrar</a>
                <a id="cancelPersonaModal" class="btn btn-info btnModal" href="#">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<div id="modalAgregarFamilia" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Familia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <div class="card-body">
                    <input id="modificar" name="modificar" type="hidden" value="0">
                    <div class="form-group col-md-12 has-success">
                        <input type="text" class="form-control" id="inputNombreFamilia" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-12 has-success">

                        <input type="text" class="form-control" id="inputApellidoFamilia" placeholder="Apellido">
                    </div>
                    <div class="form-group col-md-12 has-success">

                        <input type="number" class="form-control" id="inputDniFamilia" placeholder="D.N.I.">
                    </div>
                    <div class="form-group col-md-12 has-success">
                        @Html.DropDownListFor(x => Model.ParentescoKey, Model.ParentescoList ?? new List<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "ddParentescoId" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="addPersonaModal" class="btn btn-info btnModal" href="#">Cargar y Cerrar</a>

            </div>
        </div>
    </div>
</div>

<div id="modalAgregarTitular" class="modal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        @Html.ValidationSummary(true, "Sign in was unsuccessful", new { @class = "alert alert-block alert-error" })
        <div class="modal-content">
            <div class="modal-header">
                <p>
                    Debe completar el formulario de registración en todos sus campos
                    con datos válidos y proporcionando la información requerida de manera precisa y veraz
                    para que el Instituto de Vivienda pueda brindar un buen Servicio.
                    Asume igualmente el compromiso de actualizar sus Datos Personales cada vez que los mismos se modifiquen.
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <div class="card-body">
                    <div class="form-group col-md-12">
                        <!--<input type="text" class="form-control" id="inputNombreTitular" placeholder="Nombre">-->
                        @Html.EditorFor(model => model.InsNombre, new { htmlAttributes = new { @class = "form-control", @id = "inputNombreTitular", placeholder = "Nombre" } })
                        @Html.ValidationMessageFor(model => model.InsNombre, "", new { @class = "text-danger" })
                    </div>
                   
                    <div class="form-group col-md-12">
                        <!-- <input type="number" class="form-control" id="inputDniTitular" placeholder="D.N.I.">-->
                        @Html.EditorFor(model => model.InsNumdoc, new { htmlAttributes = new { @class = "form-control", @id = "inputDniTitular", placeholder = "DNI" } })
                        @Html.ValidationMessageFor(model => model.InsNumdoc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12">
                        <!--<input type="email" class="form-control" id="inputEmailTitular" placeholder="Email">-->
                        @Html.EditorFor(model => model.InsEmail, new { htmlAttributes = new { @class = "form-control", @id = "inputEmailTitular", placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.InsEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="addTitularModal" class="btn btn-info btnModal" href="#">Cargar y Cerrar</a>
                <button type="submit" class="btn btn-primary"> Cargar y Cerrar</button>
            </div>
        </div>
    </div>

</div>


@section scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <style type="text/css">
        .span3 {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .card-body {
            padding-bottom: 0rem;
        }
    </style>


    <script type="text/javascript">

        $(function () {

            $('#mostrar').click(function () {
                //Comprobamos que la cadena NO esté vacía.
                if ($(this).hasClass('fa-eye-slash') && ($("#inputContraseña").val() != "")) {
                    $('#inputContraseña').removeAttr('type');
                    $('#mostrar').addClass('fa-eye').removeClass('fa-eye-slash');
                    $('#pwdtxt').html("Ocultar contraseña");
                }

                else {
                    $('#inputContraseña').attr('type', 'password');
                    $('#mostrar').addClass('fa-eye-slash').removeClass('fa-eye');
                    $('#pwdtxt').html("Mostrar contraseña");
                }
            });

        });
        $(function () {

            $('#mostrarRe').click(function () {
                //Comprobamos que la cadena NO esté vacía.
                if ($(this).hasClass('fa-eye-slash') && ($("#inputRepetirContraseña").val() != "")) {
                    $('#inputRepetirContraseña').removeAttr('type');
                    $('#mostrarRe').addClass('fa-eye').removeClass('fa-eye-slash');
                    $('#pwdtxtRe').html("Ocultar contraseña");
                }

                else {
                    $('#inputRepetirContraseña').attr('type', 'password');
                    $('#mostrarRe').addClass('fa-eye-slash').removeClass('fa-eye');
                    $('#pwdtxtRe').html("Mostrar contraseña");
                }
            });

        });

         function CargarDeptoLocalidad() {

            var depto = $("#ddDepartamentoId").val();
            $.ajax({
                url: '@Url.Action("GetLocalidadesList", "Home")',
                data: {
                    // Datos / Parámetros
                    departamentoKey: depto
                },
                type: "get", // Verbo HTTP
                timeout: 15000 // adjust the limit. currently its 15 seconds

            }).done(function (result) {
                $("#ddLocalidadId").empty();
                $("#ddLocalidadId").append("<option value> -- Seleccionar Localidad de " + $("#ddDepartamentoId option:selected").text() + " --</option>")
                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                $.each(result, function (index, row) {
                    $("#ddLocalidadId").append('<option value="' + row.value + '">' + row.text + '</option>');
                });
            });
         }

        function validarForm () {
            var dniId = $("#dniInput").val();
            var nombreId = $("#inputNombre").val();
            var apellidoId = $("#inputApellido").val();
            var tipoFamilia = $("#ddTipoFamiliaId").val();
            var direccion = $("#inputAddress").val();
            var barrio = $("#inputBarrio").val();
            var depto = $("#ddDepartamentoId").val();
            var localidad = $("#ddLocalidadId").val();
            var usuario = $("#inputUser").val();
            var emailId = $("#inputEmail").val();
            var clave = $("#inputContraseña").val();
            var repClave = $("#inputRepetirContraseña").val();
            var cont = 0;

            if (!nombreId) {
                $("#inputNombre").css("border-color", "red");
                cont++;
            } else {
                $("#inputNombre").css("border-color", "green");
            }

            if (!apellidoId) {
                $("#inputApellido").css("border-color", "red");
                cont++;
            } else {
                $("#inputApellido").css("border-color", "green");
            }

            if (!depto) {
                $("#ddDepartamentoId").css("border-color", "red");
                cont++;
            } else {
                $("#ddDepartamentoId").css("border-color", "green");
            }

            if (!localidad) {
                $("#ddLocalidadId").css("border-color", "red");
                cont++;
            } else {
                $("#ddLocalidadId").css("border-color", "green");
            }

            if (!usuario) {
                $("#inputUser").css("border-color", "red");
                cont++;
            } else {
                $("#inputUser").css("border-color", "green");
            }

            if (!clave) {
                $("#inputContraseña").css("border-color", "red");
                cont++;
            } else {
                $("#inputContraseña").css("border-color", "green");
            }

            if (!repClave) {
                $("#inputRepetirContraseña").css("border-color", "red");
                cont++;
            } else {
                $("#inputRepetirContraseña").css("border-color", "green");
            }

            if (!emailId) {
                $("#inputEmail").css("border-color", "red");
                cont++;
            } else {
                $("#inputEmail").css("border-color", "green");
            }
            return cont;
        };


        $(function () {
            $("#btnCreate").click(function (e) {

                //e.preventDefault();

                var dniId = $("#dniInput").val();
                var nombreId = $("#inputNombre").val();
                var apellidoId = $("#inputApellido").val();
                var tipoFamilia = $("#ddTipoFamiliaId").val();
                var direccion = $("#inputAddress").val();
                var barrio = $("#inputBarrio").val();
                var depto = $("#ddDepartamentoId").val();
                var localidad = $("#ddLocalidadId").val();
                var usuario = $("#inputUser").val();
                var emailId = $("#inputEmail").val();
                var clave = $("#inputContraseña").val();
                var repClave = $("#inputRepetirContraseña").val();

                var cont = validarForm();

                if (cont == 0) {
                    if (clave === repClave && clave.length == repClave.length) {
                        if ( emailId.length > 0 && usuario.length > 4 && clave.length > 4
                        && dniId.length > 6 && nombreId.length > 0 && apellidoId.length > 0
                        ) {
                            var modeloCarga = {
                                dni: dniId, // $("#Comentario").val(),
                                usuario: usuario,
                                clave: clave,
                                nombre: nombreId,
                                apellido: apellidoId,
                                email: emailId,
                                tipoFamilia: tipoFamilia,
                                direccion: direccion,
                                barrio: barrio,
                                deptoKey: depto,
                                locKey: localidad
                            };
                        $.ajax({
                            url: '@Url.Action("CargarDatos", "Home")', //"/Solicitar/CreateAjax",
                            data: JSON.stringify(modeloCarga),
                            type: "post",
                            contentType: "application/json"
                        }).done(function (data) {
                            //if (data.base64imgage) {
                            /*v imgs = data;

                             if (imgs != null) {
                                 var imag = "<img "
                                     + "src='" + "data:image/jpg;base64,"
                                     + imgs.base64imgage + "'/>";

                                 $("#divImageHolder").html(imag);

                                 const img = document.querySelector('a');
                                 img.setAttribute('href', 'data:image/png;base64,' + imgs.base64imgage);

                                ar img = document.createElement('img');
                                 img.src = "data: image / jpg; base64, "+ imgs.base64imgage ;

                                 var a = document.createElement('a');
                                 a.href = img.src;
                                 a.download = "My image name";

                                 a.appendChild(img);
                                 document.body.appendChild(a);

                                 var text = "Descargar Comprobante";
                                 var className = "btn btn-info btnModal";
                                 var el = $("img");
                                     var tagLink = "<a>";
                                     var tagDiv = "<div>";

                                     var cssDiv = {
                                         display: "inline-block",
                                         position: "relative"
                                     };
                                     var cssLink = {
                                         position: "absolute",
                                         top: "10px",
                                         right: "10px"
                                     };

                                     var elDiv = $(tagDiv).css(cssDiv);

                                 var elImg = el.clone();
                                 var elImgSrc = el.attr("src");

                                     var elLink = $(tagLink)
                                         .attr("href", $("img").attr("src"))
                                         .attr("download", "")
                                         .text(text)
                                         .addClass(className)
                                         .css(cssLink);

                                     var all = elDiv.append(elImg).append(elLink);

                                 $("#divImageHolder").replaceWith(all);
                                 */
                            if (data) {
                                bootbox.alert({
                                    size: "small",
                                    title: "I.V.U.J.",
                                    message: data,
                                    callback: function () {
                                        location.reload(true);
                                    }
                                });
                            } else {
                                var varMensaje = "<h2>" + data + "</h2>";
                                $("#h2Error").html(varMensaje);
                                $('#modalError').modal('show');
                            }

                        }).fail(function (result) {
                            // Mostramos un mensaje de error.
                            //$("#ErrorAlert").show("slow").delay(2000).hide("slow");

                            // Escondemos el Ajax Loader
                            $("#AjaxLoader").hide("slow");

                            bootbox.alert({
                                size: "small",
                                title: "I.V.U.J. Fail",
                                message: result,
                                callback: function () {
                                    location.reload(true);
                                }
                            });
                        });
                    } else {
                        bootbox.alert({
                            size: "small",
                            title: "I.V.U.J.",
                            message: "Datos ingresados de forma incorrecta",
                            callback: function () { }
                        });
                    }
                    } else {
                        e.preventDefault();
                        bootbox.alert({
                            size: "small",
                            title: "I.V.U.J.",
                            message: "Las claves no Coinciden.",
                            callback: function () { }
                        });
                    }
                } else {
                    e.preventDefault();
                }


            });

        });


        $(function () {
            $("#ddDepartamentoId").on("change", function () {

                CargarDeptoLocalidad();
            })
        });

        $(function () {
            $('#modalAgregarFamilia').on('show.bs.modal', function (e) {
                var idNombre = $('#idSoloNombre').val();
                var idApellido = $('#idSoloApellido').val();
                var idDni = $('#idEscondido').val();
                var idParentesco = $('#idSoloParentesco').val();
                var miMod = 0;

                $('#inputNombreFamilia').val(idNombre);
                $('#inputApellidoFamilia').val(idApellido);
                $('#inputDniFamilia').val(idDni);

                $('#ddParentescoId').val(idParentesco).trigger('change');

                if ($('#inputDniFamilia').val().length > 6) {
                    miMod = 1;
                    $('#inputDniFamilia').prop('readonly', true);
                }

                $("#modificar").val(miMod);
            });
        });


        $(function () {
            $("#delPersonaModal").click(function (e) {
                e.preventDefault();
                var idMod = $("#idEscondido").val();
                $.ajax({
                    url: '@Url.Action("DeletePersona", "Home")',
                    data: {
                        // Datos / Parámetros
                        id: idMod // $("#Comentario").val(),
                        //perFalta: $("#PerFalta").val() // $("#Nombre").val(),
                    },
                    type: "post", // Verbo HTTP
                    //timeout: 15000 // adjust the limit. currently its 15 seconds
                }).done(function (result) {
                    $("#idFormFamilia").show();
                    $("#tablaFamilia").html(result);
                }).fail(function(data){
                    bootbox.alert({
                        size: "small",
                        title: "I.V.U.J.",
                        message: "Acaba de ocurrir un problema, lamento los inconvenientes. " + data,
                        callback: function () {
                            //location.reload();
                        }
                    });
                });
                $("#modalBorrar").modal('hide');
            })
        })

        $(function() {
            $("#btnBuscar").click(function (e) {

                    var numeroDni = $("#dniInput").val();
                    if (numeroDni.length > 7) {

                        CargarDeptoLocalidad();
                        //e.preventDefault();
                        //e.stopPropagation();
                        // Mostramos el Ajax Loader
                        $("#AjaxLoader").show("fast");

                        // Deshabilitamos el botón de Submit
                        $("#btnCreate").prop("disabled", true);
                        $("#modeloClick").prop("disabled", true);
                        $.ajax({
                            url: '@Url.Action("BuscarPersona", "Home")',
                            data: {
                                // Datos / Parámetros
                                numDni: $("#dniInput").val(), // $("#Comentario").val(),
                                //perFalta: $("#PerFalta").val() // $("#Nombre").val(),
                            },
                            type: "post", // Verbo HTTP
                            timeout: 15000 // adjust the limit. currently its 15 seconds
                        })
                            // Se ejecuta si todo fue bien.
                            .done(function (result) {
                               // $("#modalAgregarTitular").show();
                                if (result != null) {

                                    if (result == "NoExiste") {
                                        console.log("NoExiste");
                                    } else {
                                        console.log("Si Cargar");
                                    }

                                    $("#tablaFamilia").show();
                                    $("#formFamilia").show();
                                    // Actualiza el resultado HTML
                                    $("#tablaFamilia").html(result);

                                    // Un pequeño esfecto especial ;)
                                    $("#PostList .row").first().hide();
                                    $("#PostList .row").first().slideToggle("fast");

                                    $("#AjaxLoader").hide("slow");

                                    $("#btnCreate").prop("disabled", false);
                                    $("#modeloClick").prop("disabled", false);
                                }
                            })
                            .fail(function (xhr, status, error) {

                                $("#ErrorAlert").show("slow").delay(2000).hide("slow");

                                $("#AjaxLoader").hide("slow");

                            })
                            // Hacer algo siempre, haya sido exitosa o no.
                            .always(function () {

                            });
                    } else {
                        bootbox.alert({
                            size: "small",
                            title: "I.V.U.J.",
                            message: "Debes ingresar un Dni correcto",
                            callback: function () { }
                        });
                    }
                });
        });

        $(function () {
            $("#addPersonaModal").click(function (e) {
                var nombreVM = $("#inputNombreFamilia").val();
                var apellidoVM = $("#inputApellidoFamilia").val();
                var dniVM = $("#inputDniFamilia").val();
                var parentescoKey = $("#ddParentescoId").val();

                if (!nombreVM) {
                    $("#inputNombreFamilia").css("border-color", "red");
                    e.preventDefault();
                } else {
                    $("#inputNombreFamilia").css("border-color", "green");
                }

                if (!apellidoVM) {
                    $("#inputApellidoFamilia").css("border-color", "red");
                    e.preventDefault();
                } else {
                    $("#inputApellidoFamilia").css("border-color", "green");
                }

                if (dniVM.length > 6) {
                    $("#inputDniFamilia").css("border-color", "green");

                } else {
                    $("#inputDniFamilia").css("border-color", "red");
                    e.preventDefault();
                }

                if (nombreVM && apellidoVM && dniVM.length > 6) {
                    $.ajax({
                        url: '@Url.Action("AgregarPersona", "Home")',
                        data: {
                            // Datos / Parámetros
                            nombre: nombreVM, // $("#Comentario").val(),
                            apellido: apellidoVM,
                            dni: dniVM,
                            parentescoKey: parentescoKey,
                            modificar: $("#modificar").val()
                        },
                        type: "post", // Verbo HTTP
                        timeout: 15000 // adjust the limit. currently its 15 seconds

                    })
                        .done(function (result) {
                            $("#idFormFamilia").show();
                            $("#tablaFamilia").html(result);
                            $("#inputNombreFamilia").val('');
                            $("#inputApellidoFamilia").val('');
                            $("#inputDniFamilia").val('');
                            $('#inputDniFamilia').prop('readonly', false);
                        })
                        .fail(function (result) {
                            bootbox.alert({
                                size: "small",
                                title: "I.V.U.J.",
                                message: "Acaba de ocurrir un problema, lamento los inconvenientes. " + result,
                                callback: function () {
                                    location.reload();
                                }
                            });
                        });
                    $("#modalAgregarFamilia").modal('hide');

                }

            });
        });

    </script>

}
