@model ADJInsc.Web.Models.InscViewModel

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h1>Inscripción / Actualización</h1>
<div method="post" class="form-inline">

    @Html.AntiForgeryToken()
    <div class="form-group mb-4">
        <p></p>
        <label>Ingrese Dni</label>

    </div>
    <div class="form-group mx-sm-3 mb-4">
        <p></p>
        <input type="number" class="form-control" id="dniInput" placeholder="Documento">
    </div>

    <div class="form-group mb-4 float-right">
        <img id="AjaxLoader" alt="Enviando ..." style="display:none; width:50px; height:50px;" src="~/wwwroot/image/loader.gif" />

        <button id="SubmitBtn" class="btn btn-primary">
            Obtener Datos
        </button>
        <div>

        </div>
    </div>

</div>
<p></p>
<div>

</div>
<div>

    <div style="display:none" id="tablaFamilia">

        @Html.Partial("_DatosPartial", Model)

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnCreate" disabled="disabled" type="submit" value="Crear Turno" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="modalError" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Familia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h2 id="h2Error"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div id="modalAgregarFamilia" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Familia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body card">
                <div class="card-body">
                    <div class="form-group col-md-12">

                        <input type="text" class="form-control" id="inputNombreFamilia" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-12">

                        <input type="text" class="form-control" id="inputApellidoFamilia" placeholder="Apellido">
                    </div>
                    <div class="form-group col-md-12">

                        <input type="number" class="form-control" id="inputDniFamilia" placeholder="D.N.I.">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="addPersonaModal" class="btn btn-info btnModal" href="#" data-dismiss="modal">Cargar y Cerrar</a>

            </div>
        </div>
    </div>
</div>

<div id="modalAgregarTitular" class="modal" tabindex="-1" role="dialog">
   
        <div class="modal-dialog" role="document">
            @Html.ValidationSummary(true, "Sign in was unsuccessful", new { @class = "alert alert-block alert-error" })
            <div class="modal-content">
                <div class="modal-header">
                    <p>
                        Debe completar el formulario de registración en todos sus campos
                        con datos válidos y proporcionando la información requerida de manera precisa y veraz
                        para que el Instituto de Vivienda pueda brindar un buen Servicio.
                        Asume igualmente el compromiso de actualizar sus Datos Personales cada vez que los mismos se modifiquen.
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body card">
                    <div class="card-body">
                        <div class="form-group col-md-12">
                            <!--<input type="text" class="form-control" id="inputNombreTitular" placeholder="Nombre">-->
                            @Html.EditorFor(model => model.NombreVM, new { htmlAttributes = new { @class = "form-control", @id = "inputNombreTitular", placeholder = "Nombre" } })
                            @Html.ValidationMessageFor(model => model.NombreVM, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            <!--<input type="text" class="form-control" id="inputApellidoTitular" placeholder="Apellido">-->
                            @Html.EditorFor(model => model.ApellidoVM, new { htmlAttributes = new { @class = "form-control", @id = "inputApellidoTitular", placeholder = "Apellido" } })
                            @Html.ValidationMessageFor(model => model.ApellidoVM, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            <!-- <input type="number" class="form-control" id="inputDniTitular" placeholder="D.N.I.">-->
                            @Html.EditorFor(model => model.DniVM, new { htmlAttributes = new { @class = "form-control", @id = "inputDniTitular", placeholder = "DNI" } })
                            @Html.ValidationMessageFor(model => model.DniVM, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            <!--<input type="email" class="form-control" id="inputEmailTitular" placeholder="Email">-->
                            @Html.EditorFor(model => model.InsEmail, new { htmlAttributes = new { @class = "form-control", @id = "inputEmailTitular", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.InsEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a id="addTitularModal" class="btn btn-info btnModal" href="#" data-dismiss="modal">Cargar y Cerrar</a>
                    <button type="submit" class="btn btn-primary" > Cargar y Cerrar</button>
                </div>
            </div>
        </div>
    
    </div>

<div id="modalMensaje" class="modal" tabindex="-1" role="dialog">
    @using (Html.BeginForm())
    {
    <div class="modal-dialog" role="document">
        @Html.ValidationSummary(true, "Sign in was unsuccessful", new { @class = "alert alert-block alert-error" })
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">I.V.U.J.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h2 id="h2Error"></h2>
                <p>
                    Debe completar el formulario de registración en todos sus campos
                    con datos válidos y proporcionando la información requerida de manera precisa y veraz
                    para que el Instituto de Vivienda pueda brindar un buen Servicio.
                    Asume igualmente el compromiso de actualizar sus Datos Personales cada vez que los mismos se modifiquen.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
    }
    </div>

@section Scripts {
    <link href="~/Content/Material/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <!-- <link href="~/Content/Material/css/mdb.min.css" rel="stylesheet" />
                <link href="~/Content/Material/css/addons/datatables.min.css" rel="stylesheet" />

            <script src="~/Content/Material/js/bootstrap.min.js"></script>
               <script src="~/Content/Material/js/addons/datatables.min.js"></script>
               <script src="~/Content/Material/js/mdb.min.js"></script>
    <script src="~/Content/Material/js/jquery.min.js"></script>
        -->

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <script src="~/Scripts/bootbox/bootbox.min.js"></script>


    <script type="text/javascript">


        $(function()
        {
            $("#addPersonaModal").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("AgregarPersona", "Inscripcion")',
                    data: {
                        // Datos / Parámetros
                        nombre: $("#inputNombreFamilia").val(), // $("#Comentario").val(),
                        apellido: $("#inputApellidoFamilia").val(),
                        dni : $("#inputDniFamilia").val()
                    },
                    type: "post", // Verbo HTTP
                    timeout: 15000 // adjust the limit. currently its 15 seconds
                })
                    .done(function (result) {
                        $("#idFormFamilia").show();
                        $("#tablaFamilia").html(result);
                    })
                    .fail(function (result) {

                    })
            });

            $("#addTitularModal").click(function (e) {
                var miNombre = $("#inputNombreTitular").val();
                var miApellido = $("#inputApellidoTitular").val();
                var miDni = $("#inputDniTitular").val();
                if (miNombre.length > 3 || miApellido.length > 3 || miDni.length > 7) {


                    e.preventDefault();
                    $.ajax({
                        url: '@Url.Action("AgregarTitular", "Inscripcion")',
                        data: {
                            // Datos / Parámetros
                            nombre: $("#inputNombreTitular").val(), // $("#Comentario").val(),
                            apellido: $("#inputApellidoTitular").val(),
                            dni: $("#inputDniTitular").val(),
                            email: $("#inputEmailTitular").val()
                        },
                        type: "post", // Verbo HTTP
                        timeout: 15000 // adjust the limit. currently its 15 seconds
                    })
                        .done(function (result) {
                            $("#idFormFamilia").show();
                            $("#tablaFamilia").html(result);
                        })
                        .fail(function (result) {

                        })
                } else {
                    bootbox.alert({
                        size: "small",
                        title: "I.V.U.J.",
                        message: "Debes proporcionar sus datos de forma correcta",
                        callback: function () { }
                    });
                }
            });
        });

        $(function() {

                $("#SubmitBtn").click(function (e) {

                    var numeroDni = $("#dniInput").val();
                    if (numeroDni.length > 7) {


                        //e.preventDefault();
                        //e.stopPropagation();
                        // Mostramos el Ajax Loader
                        $("#AjaxLoader").show("fast");

                        // Deshabilitamos el botón de Submit
                        $("#btnCreate").prop("disabled", true);
                        $("#modeloClick").prop("disabled", true);
                        $.ajax({
                            url: '@Url.Action("BuscarPersona", "Inscripcion")',
                            data: {
                                // Datos / Parámetros
                                numDni: $("#dniInput").val(), // $("#Comentario").val(),
                                //perFalta: $("#PerFalta").val() // $("#Nombre").val(),
                            },
                            type: "post", // Verbo HTTP
                            timeout: 15000 // adjust the limit. currently its 15 seconds
                        })
                            // Se ejecuta si todo fue bien.
                            .done(function (result) {
                                $("#modalAgregarTitular").show();
                                if (result != null) {

                                    if (result == "NoExiste") {
                                        console.log("NoExiste");
                                    } else {
                                        console.log("Si Cargar");
                                    }

                                    $("#tablaFamilia").show();
                                    // Actualiza el resultado HTML
                                    $("#tablaFamilia").html(result);

                                    // Un pequeño esfecto especial ;)
                                    $("#PostList .row").first().hide();
                                    $("#PostList .row").first().slideToggle("fast");

                                    $("#AjaxLoader").hide("slow");

                                    $("#btnCreate").prop("disabled", false);
                                    $("#modeloClick").prop("disabled", false);
                                }
                            })
                            .fail(function (xhr, status, error) {

                                $("#ErrorAlert").show("slow").delay(2000).hide("slow");

                                $("#AjaxLoader").hide("slow");

                            })
                            // Hacer algo siempre, haya sido exitosa o no.
                            .always(function () {

                            });
                    } else {
                        bootbox.alert({
                            size: "small",
                            title: "I.V.U.J.",
                            message: "Debes ingresar un Dni correcto",
                            callback: function () { }
                        });
                    }
                });


        });


        $(function () {
            $("#btnCreate").click(function (e) {

                e.preventDefault();


                var dniId = $("#idPerDni").val();
                var nombreId = $("#idPerNombre").val();
                var telefonoId = $("#idPerTelef").val();
                var emailId = $("#idPerEmail").val();
                var otroEmail = $("#idRepPerEmail").val();
                var turnoId = $("#ddTurId").val();
                var fechaSeleccionada = $("#PerFalta").val();
                var valorSeleccionado = $("input[name='groupRadio']:checked").attr("id");
                var obserId = $("#idPerObs").val()
                if (valorSeleccionado.length > 0 && emailId === otroEmail && dniId.length > 6 && nombreId.length > 0 && telefonoId.length > 0 && fechaSeleccionada.length > 0 ) {
                     //alert("dni " + dniId.toString() + "/" + valorSeleccionado.toString() + "/" + nombreId.toString() + "/" + telefonoId.toString() + "/" + emailId.toString() + "/" + turnoId.toString());
                    $.ajax({
                        url: '@Url.Action("CreateAjax", "Actualizacion")', //"/Solicitar/CreateAjax",
                        data: {
                            // Datos / Parámetros
                            dni: dniId, // $("#Comentario").val(),
                            nombre: nombreId,
                            telefono: telefonoId,
                            email: emailId,
                            idHoraSel: valorSeleccionado,
                            idTurnoSel: turnoId,
                            fecha: fechaSeleccionada,
                            observacion : obserId
                        },
                        type: "post"  // Verbo HTTP
                    }).done(function (data) {
                        if (data.base64imgage) {
                            imgs = data;

                            if (imgs != null) {
                                var imag = "<img "
                                    + "src='" + "data:image/jpg;base64,"
                                    + imgs.base64imgage + "'/>";

                                $("#divImageHolder").html(imag);

                                const img = document.querySelector('a');
                                img.setAttribute('href', 'data:image/png;base64,' + imgs.base64imgage);


                                $('#modal').modal('show');

                            }
                        } else {
                            var varMensaje = "<h2>" + data + "</h2>";
                            $("#h2Error").html(varMensaje);
                            $('#modalError').modal('show');
                        }




                    }).fail(function (result) {
                        // Mostramos un mensaje de error.
                        $("#ErrorAlert").show("slow").delay(2000).hide("slow");

                        // Escondemos el Ajax Loader
                        $("#AjaxLoader").hide("slow");

                        bootbox.alert(result, function () {
                            //location.reload(); por el momento comentado
                        });
                    });


                    //
                } else {
                    bootbox.alert({
                        size: "small",
                        title: "I.V.U.J.",
                        message: "Debes ingresar los datos en el formulario.",
                        callback: function () {  }
                    });
                }

            });


        });

    </script>


}


